{{ define "main" }} {{ $css := resources.Get "css/about.css" }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" />

<div class="about-section">
  <div class="about-left">
    <div class="text-area">
      <div id="top-mini-slogan">Presentando AWS UG Guatemala</div>
      <h1 id="slogan-first">Aprende, Conoce, Inspira</h1>
      <h2 id="slogan-second">
        Nuestra comunidad recibe a todos con gusto
      </h2>
    </div>
    <div class="about-image warm-img-filter">
      <img src="/images/about-1 2.jpg" alt="" />
    </div>
  </div>
  <div class="about-right">
    <div class="text-area">
      <div class="intro-text">
        Navegar por el mundo de la computación en la nube puede ser desafiante, y por eso estamos aquí para apoyarte. Como la comunidad oficial de AWS en Guatemala, organizamos eventos que brindan un espacio amigable e inspirador para el aprendizaje y el crecimiento. En nuestros encuentros, abordamos una amplia gama de temas, desde soluciones nativas de AWS hasta DevOps, Datos, Desarrollo, y mucho más.
      </div>
    </div>
    <div class="about-image warm-img-filter">
      <img src="/images/about-2 2.jpg" alt="" />
    </div>
    <div class="intro-text">
      Estamos orgullosos de contar con una comunidad solidaria en la que sus miembros comparten conocimientos y experiencias entre sí. Agradecemos el apoyo de nuestros distinguidos patrocinadores, quienes hacen posibles nuestros eventos. Si estás interesado en colaborar con nosotros en una de nuestras próximas sesiones, estaremos encantados de escucharte y trabajar juntos para crear un evento significativo e inspirador.
    </div>
  </div>
</div>

{{ partial "subscribe.html" .}}

{{ end }}