<div class="footer-line"></div>
<div class="footer-column">
  <h3><a href="/">INICIO</a></h3>
  <a href="/">General</a>
  <!-- <a href="#">Sponsors</a> -->
  <a href="#">Contribuir</a>
  <a href="#">Comentarios</a>
  <a href="#">Suscribirse</a>
</div>

<div class="footer-column">
  <h3><a href="/about/">QUÍENES SOMOS</a></h3>
  <a href="/about">AWS</a>
  <a href="#">User Groups</a>
</div>

<div class="footer-column">
  <h3><a href="/team/">EQUIPO</a></h3>
  <a href="#">Lideres</a>
  <a href="#">Voluntarios</a>
</div>

<div class="footer-column">
  <h3><a href="/events/">EVENTOS</a></h3>
  <a href="#">Próximos eventos</a>
  <a href="#">Eventos pasados</a>
</div>

<div class="footer-column">
  <h3><a href="/blog/">BLOG</a></h3>
  <!-- <a href="#">Categories</a>
  <a href="#">Topics</a>
  <a href="#">Create</a> -->
</div>

<div class="footer-right">
  <img src="/images/logo.png" />
  <p>
    Este sitio web es gestionado por un AWS User Group independiente y no está afiliado a Amazon Web Services, Inc.
  </p>
  <p>
    Las opiniones expresadas aquí son únicamente de los autores y no reflejan las posiciones oficiales de AWS.
  </p>
  <div class="footer-social-items">
    <a href="https://www.meetup.com/aws-guatemala/" target="_blank">
    <div class="footer-social-item round-icon">
      <img src="/images/icons/meetup.png" alt="" />
    </div>
  </a>
  <a href="https://www.linkedin.com/company/aws-user-group-guatemala" target="_blank">
    <div class="footer-social-item round-icon">
      <img src="/images/icons/linkedin.png" alt="" />
    </div>
  </a>
    <a href="https://www.youtube.com/@awsugguatemala/streams" target="_blank">
    <div class="footer-social-item round-icon">
      <img src="/images/icons/youtube.png" alt="" />
    </div>
  </a>
    <a href="https://www.facebook.com/awsgua" target="_blank">
    <div class="footer-social-item round-icon">
      <img src="/images/icons/facebook.png" alt="" />
    </div>
  </a>
  <a href="https://www.instagram.com/awsguatemala/" target="_blank">
    <div class="footer-social-item round-icon">
      <img src="/images/icons/instagram.png" alt="" />
    </div>
  </a>
  
  </div>
</div>
<img src="/images/piePagina.png" class="footer-bg-image" alt="" />

