<!-- CSS Reference: /assets/css/partials/subscribe.css -->
{{ $css := resources.Get "css/partials/subscribe.css" }}
<link rel="stylesheet" href="{{ $css.Permalink }}" />


<div class="subscribe-section">
    <div class="subscribe-slogan">
      <p>Subscribe to our Newsletter</p>
    </div>
    <div class="subscribe-items">
      <div class="subscribe-left">
        <p class="subscribe-text">
          Si querés asegurar tu lugar en nuestro próximo evento antes de que se agoten los cupos, ¡esta es tu oportunidad!
          También nos gustaría mantenerte al tanto de nuestras actualizaciones importantes. ¡Unite a nuestra comunidad y recibí información periódica!
        </p>
      </div>
      <div class="subscribe-right">
        <form class="subscribe-form">
          <input
            type="text"
            class="subscribe-form-input"
            placeholder="Your Name"
          />
          <input
            type="email"
            class="subscribe-form-input"
            placeholder="Your Email"
          />
          <button type="submit" class="subscribe-form-button">
            <img src="/images/button-darkpurple.png" />
            <span class="subscribe-form-button-text">Subscribe</span>
          </button>
        </form>
      </div>
    </div>
  </div>